
@{
    ViewBag.Title = "Edit";
}
<script>
    var vm = new Vue({
        el: '#fmBank',
        data: {
            id: '@ViewBag.Id',
            form: {}
        },
        methods: {
            init: function () {
                var that = this;
                var url = "/api/bankapi/detail/" + that.id;
                if (that.id == "0") {
                    url = "/api/loginon/GetCode/B";
                }
                $.get(url, function (json) {
                    debugger
                    if (json.Success) {
                        if (that.id == "0")
                            that.form = { BankCode: json.Data }
                        else
                            that.form = json.Data;

                    }
                });
            },
            save: function () {
                var that = this;
                $.ajax({
                    method: "post",
                    url: "/api/bankapi/save/" + that.id,
                    contentType: 'application/json',
                    data: JSON.stringify(that.form),
                    success: function (json) {
                        if (json.Success) {
                            $.messager.alert('提示', "保存成功！", 'info');
                        } else {
                            $.messager.alert('提示', json.Msg, 'error');
                        }
                    }
                });
            }
        },
        created: function () {
            var that = this;
            that.init();
        }
    })
</script>
<div id="fmBank" style="margin-top: 50px">
    <form class="form-horizontal col-sm-10 ">
        <div class="form-group">
            <label class="col-sm-2 control-label">人员名称</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.BankName" class="form-control" placeholder="请输入人员名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">人员编码</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.BankCode" class="form-control" placeholder="请输入人员编码">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">管理员名称</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.BankUser" class="form-control" placeholder="请输入管理员名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">管理员帐号</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.UserName" class="form-control" placeholder="请输入管理员帐号">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">管理员手机号</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.UserPhone" class="form-control" placeholder="请输入管理员手机号">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">管理员密码</label>
            <div class="col-sm-10">
                <input type="password" v-model="form.UserPwd" class="form-control" placeholder="请输入管理员密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="button" v-on:click="save" class="btn btn-default">保存</button>
            </div>
        </div>
    </form>
</div>
