################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/Portal/bin
/Portal/obj/Debug
/BLL/bin/Debug
/BLL/obj/Debug
/Common/bin/Debug
/Common/obj/Debug
/DAL/bin/Debug
/DAL/obj/Debug
/Model/bin/Debug
/Model/obj/Debug
/Portal/Logs
/.vs
/BLL/bin/Release
/BLL/obj/Release
/Common/bin/Release
/Common/obj/Release
/Portal/Properties/PublishProfiles
/Portal/obj/Release/TransformWebConfig
/Portal/obj/Release
/Model/bin/Release
/Model/obj/Release
/DAL/obj/Release
/DAL/bin/Release
/Portal/upload/20190717
