
@{
    ViewBag.Title = "Edit";
}
<script>
    var vm = new Vue({
        el: '#fmCar',
        data: {
            id: '@ViewBag.Id',
            form: {},
            banks:[]
        },
        methods: {
            init: function () {
                var that = this;
                var url = "/api/Carapi/detail/" + that.id;
                if (that.id == "0") {
                    url = "/api/loginon/GetCode/C";
                }
                $.get(url, function (json) {
                    if (json.Success) {
                        if (that.id == "0")
                            that.form = { CarCode: json.Data }
                        else
                            that.form = json.Data;

                    }
                });
                $.get("/api/bankapi/BankKeyValue/0", function (j) {
                    that.banks = j;
                });
            },
            save: function () {
                var that = this;

                for (var i = 0; i < that.banks.length; i++) {
                    if (that.form.BankId == that.banks[i].Id) {
                        that.form.BankName = that.banks[i].Name;
                        break;
                    }
                }
                $.ajax({
                    method: "post",
                    url: "/api/Carapi/save/" + that.id,
                    contentType: 'application/json',
                    data: JSON.stringify(that.form),
                    success: function (json) {
                        if (json.Success) {
                            $.messager.alert('提示', "保存成功！", 'info');
                        } else {
                            $.messager.alert('提示', json.Msg, 'error');
                        }
                    }
                });
            }
        },
        created: function () {
            var that = this;
            that.init();
        }
    })
</script>
<div id="fmCar" style="margin-top: 50px">
    <form class="form-horizontal col-sm-10 ">
        <div class="form-group">
            <label class="col-sm-2 control-label">车牌号</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.CarName" class="form-control" placeholder="请输入车牌号">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">车辆编码</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.CarCode" class="form-control" placeholder="请输入车辆编码">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">签约银行</label>
            <div class="col-sm-10">
                <select class="form-control" v-model="form.BankId">
                    <option v-for="o in banks"   v-bind:value="o.Id">
                        {{ o.Name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">随车手机号</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.UserPhone" class="form-control" placeholder="请输入手机号">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">登录密码</label>
            <div class="col-sm-10">
                <input type="password" v-model="form.UserPwd" class="form-control" placeholder="请输入密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="button" v-on:click="save" class="btn btn-default">保存</button>
            </div>
        </div>
    </form>
</div>

