body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;    
    height: 25px;
    border-radius: 3px;
}
.form {


}

.search-list {
    display: flex;
    flex-flow: row;
    padding: 10px; 
    vertical-align: middle;
    height: 48px
}
 .search-lable {
    line-height: 20px;
    margin-left: 20px;
    height: 20px;
    vertical-align: middle;
}

.search-text{
    width: 180px
}

   .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    .el-upload__input {
        display: none !important
    }

