
<script>
    var vm = new Vue({
        el: '#fmType',
        data: {
            id: '@ViewBag.Id',
            form: {},
            typeData: [],
            unitData: [],
            interval:null
        },
        methods: {
            selectType: function (e) {
                this.form.TypeName = this.$refs["cbType"].selectedOptions[0].text;
            },
            selectUnit: function (e) {
                this.form.UnitName = this.$refs["cbUnit"].selectedOptions[0].text;
            },
            init: function () {
                var that = this;
                var url = "/product/Get?id=" + (that.id ? that.id : "");
                $.get(url, function (json) {
                    if (json.Success) {
                        that.form = json.Data;
                    }
                });
                $.post("/productType/gettype", {}, function (json) {
                    that.typeData = json.rows;
                });
                $.get("/product/getunit", function (json) {
                    that.unitData = json.rows;
                });

             
            },
            save: function () {
                var that = this;
                that.form.IsActive = that.form.IsActive ? 1 : 0;
                if (!that.form.ImgUrl) {
                    $.messager.alert('提示', "请添加图片！", 'info');
                    return;
                }

                $.ajax({
                    method: "post",
                    url: "/product/save/",
                    data: that.form,
                    success: function (json) {
                        if (json.Success) {
                            $.messager.alert('提示', "保存成功！", 'info');
                        } else {
                            $.messager.alert('提示', json.Msg, 'error');
                        }
                    }
                });
            },
            delImg:function() {
                var that = this;
                that.form.ImgUrl = "";
            }
        },
        created: function () {
            var that = this;
            that.init();
        }
    })
</script>
<div id="fmType" style="margin-top: 50px">
    <form class="form-horizontal col-sm-10 ">
        <div class="form-group">
            <label class="col-sm-2 control-label">商品名称</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.Name" class="form-control" placeholder="请输入商品名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品编码</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.Code" class="form-control" placeholder="请输入商品编码">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品类型</label>
            <div class="col-sm-10">
                <select ref="cbType" class="form-control" v-on:change="selectType()" v-model="form.TypeCode">
                    <option v-for="option in typeData" value="option.Code">{{option.Name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品单位</label>
            <div class="col-sm-10">
                <select ref="cbUnit" v-on:change="selectUnit()" class="form-control" v-model="form.UnitCode">
                    <option v-for="option in unitData" value="option.Code">{{option.Name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品图片</label>
            <div class="col-sm-10">
                <img style="height: 200px; width: 200px" src="form.ImgUrl" onerror="vm.form.ImgUrl = '/images/nopic.png'"/>
                <input type="hidden"/>
                <div class="col-sm-10">
                    <button id="btnUpload" class="btn btn-default">上传</button> <button v-on:click="delImg" class="btn btn-default">删除</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否启用</label>
            <div class="col-sm-10">
                <input type="checkbox" v-model="form.IsActive" class="form-control" placeholder="请输入管理员名称">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="button" v-on:click="save" class="btn btn-default">保存</button>
            </div>
        </div>
    </form>
</div>