<script src="~/scripts/LodopFuncs.js"></script>
<script>
    var LODOP; //声明为全局变量
    var date = new Date();//今天
    var dateNow = date.format('yyyy-MM-dd');
    $(function () {
        $("#date_end").datebox().datebox('calendar').calendar({
            validator: function (beginDate) {
                return beginDate <= date;
            }
        });
        $("#date_start").datebox().datebox('calendar').calendar({
            validator: function (beginDate) {
                return beginDate <= date;
            }
        });
        $("#date_end").datebox({
            onSelect: function (beginDate) {
                $('#date_start').datebox('calendar').calendar({
                    validator: function (endDate) {
                        return beginDate >= endDate;
                    }
                });
            }
        });
        $("#date_start").datebox({
            onSelect: function (beginDate) {
                $('#date_end').datebox('calendar').calendar({
                    validator: function (endDate) {
                        return beginDate <= endDate && endDate <= date;;
                    }
                });
            }
        });
        $('#date_start').datebox('setValue', dateNow);
        $('#date_end').datebox('setValue', dateNow);
        QueryOrder({ Type: '待收货', State: dateNow, End: dateNow, Query: 0 });
    });

    function QueryOrder(parm) {
        $('#gd_order').datagrid({
            title: '',
            iconCls: 'icon-save',
            height: 500,
            nowrap: true,
            autoRowHeight: false,
            striped: false,
            url: '/order/list',
            border: true,
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            queryParams: parm,    //参数为了多条件查询预留
            columns: [[
                { field: 'ck', checkbox: true },
                {
                    field: 'ID', title: '操作', width: 100, align: 'center', formatter: function (value, row, index) {
                        var btn = "<a href='#' onclick=edit('" + row.OrderNo + "') class='easyui-splitbutton'>查看</a>";
                        btn += " <a href='#' onclick=pickUp('" + JSON.stringify(row) + "') class='easyui-splitbutton'>取货</a>";
                        return btn;
                    }
                },
                { field: 'OrderNo', title: '订单号', width: 180 },
                { field: 'State', title: '订单状态', width: 80 },
                { field: 'SendState', title: '送货状态', width: 80 },
                { field: 'UserName', title: '下单人', width: 80 },
                { field: 'Money', title: '支付金额', width: 60 },
                { field: 'PMoney', title: '优惠金额', width: 60 },
                {
                    field: 'CreateDate', title: '下单时间', width: 180, formatter: function (str) {
                        var d = eval('new ' + str.substr(1, str.length - 2)); //new Date()
                        return d.format("yyyy-MM-dd hh:mm:ss");
                    }
                },
                { field: 'SendType', title: '送货方式', width: 80 },
                { field: 'SendTime', title: '送货时间', width: 80 },
                { field: 'Address', title: '送货地址', width: 300 },
                { field: 'Phone', title: '收货手机号', width: 100 },
                { field: 'Remark', title: '备注', width: 200 }
            ]]
        });
    }
    function edit(id) {
        addTab("订单明细", "/order/Detail?id=" + id, "icon-application-side-list", false);
    }
    function pickUp(row) {
        row = JSON.parse(row);
        $.messager.confirm("提示", "确定取货吗？", function (r) {
            if (r) {
                $.get("/order/pickup?id=" + row.OrderNo, function (data) {
                    if (data.Success) {
                        $.messager.alert("提示", data.Msg, "info");
                        $('#gd_order').datagrid("reload");
                        OpenPreview(row);

                    } else {
                        $.messager.alert("警告", data.Msg, "error");
                    }
                });
            }
        });
    }

    function searchOrderList() {
        var name = $("#p_name").textbox("getValue");
        var order = $("#p_order").textbox("getValue");
        var state = $("#p_state").combobox("getValue");
        var start = $('#date_start').datebox('getValue');
        var end = $('#date_end').datebox('getValue');
        var q = $("#isSend").prop("checked") ? 1 : 0;
        QueryOrder({ Name: name, Order: order, Type: state, Query: q, Start: start, End: end });
    }


    function OpenPreview(row) {
        let dc = eval('new ' + row.CreateDate.substr(1, row.CreateDate.length - 2)); //new Date()
        let strDate = dc.format("yyyy-MM-dd hh:mm:ss");
        let h = 230;
        
        $.post('/order/getOrder/' + row.OrderNo, {}, function (data) {
            LODOP = getLodop();
            //LODOP.NEWPAGEA();
            //LODOP.ADD_PRINT_RECT(10,18,324,392,0,1);
            LODOP.ADD_PRINT_TEXT(30, 10, 258, 54, "****#1 " + row.UserName + "****");
            LODOP.SET_PRINT_STYLEA(0, "fontsize", 16);

            LODOP.ADD_PRINT_TEXT(80, 50, 258, 54, " 倚 民 超 市 ");
            LODOP.SET_PRINT_STYLEA(0, "fontsize", 10);

            LODOP.ADD_PRINT_TEXT(120, 40, 258, 54, "--已在线支付--");
            LODOP.SET_PRINT_STYLEA(0, "fontsize", 16);

            LODOP.ADD_PRINT_TEXT(150, 15, 258, 54, "................................");
            LODOP.ADD_PRINT_TEXT(180, 15, 258, 54, "【下单时间】" + strDate);
            LODOP.ADD_PRINT_TEXT(210, 15, 258, 54, "..............商品..............");

            var list = data.rows;
            for (var i = 0; i < list.length; i++) {
                let n = list[i];
                //商品列表
                LODOP.ADD_PRINT_TEXT(h, 15, 100, 54, n.ProductName);
                LODOP.ADD_PRINT_TEXT(h, 130, 40, 54, "*" + n.Amount);
                LODOP.SET_PRINT_STYLEA(0, "fontsize", 16);
                LODOP.ADD_PRINT_TEXT(h, 170, 40, 54, n.Price);
                LODOP.SET_PRINT_STYLEA(0, "fontsize", 16);
                h = h + 40;
            }
            //其他
            LODOP.ADD_PRINT_TEXT(h, 15, 258, 54, "..............其他..............");
            LODOP.ADD_PRINT_TEXT(h + 20, 15, 258, 54, "配送费：" + row.SendMoney + "元");
            LODOP.ADD_PRINT_TEXT(h + 40, 15, 258, 54, "优惠：" + row.PMoney + "元");
            LODOP.ADD_PRINT_TEXT(h + 60, 15, 258, 54, "商品总金额：" + row.Money + "元");
            LODOP.ADD_PRINT_TEXT(h + 80, 15, 258, 54, "................................");
            //总计
            LODOP.ADD_PRINT_TEXT(h + 100, 15, 258, 54, "总计：");
            LODOP.SET_PRINT_STYLEA(0, "fontsize", 16);
            LODOP.ADD_PRINT_TEXT(h + 100, 100, 100, 54, "￥" + row.Money);
            LODOP.SET_PRINT_STYLEA(0, "fontsize", 16);
            //时间
            LODOP.ADD_PRINT_TEXT(h + 130, 15, 258, 54, "收货时间：");
            LODOP.SET_PRINT_STYLEA(0, "fontsize", 14);
            LODOP.ADD_PRINT_TEXT(h + 130, 100, 100, 54, row.SendTime);
            LODOP.SET_PRINT_STYLEA(0, "fontsize", 14);
            //地址
            LODOP.ADD_PRINT_TEXT(h + 170, 15, 200, 54, row.SendType == "自取" ? row.SendType : row.Address);
            LODOP.SET_PRINT_STYLEA(0, "fontsize", 14);
            //收货人 h+220
            LODOP.ADD_PRINT_TEXT(h + 250, 15, 200, 54, row.Phone);
            LODOP.SET_PRINT_STYLEA(0, "fontsize", 16);
            LODOP.ADD_PRINT_TEXT(h + 280, 10, 258, 54, "*******#1 完******");
            LODOP.SET_PRINT_STYLEA(0, "fontsize", 16);
            //设定打印页面大小
            LODOP.SET_PRINT_PAGESIZE(3, h + 270, 45, "订单页面");
            //LODOP.PREVIEW();
            LODOP.PRINT();
        })
    }
</script>

<div class="easyui-layout" fit="true">
    <div region="north" border="false" style="height:50px">
        <div class="search-list">
            <label class="search-lable" for="p_state">状态:</label>
            <select id="p_state" class="easyui-combobox form-control search-text" name="State">
                <option value="">全部</option>
                <option value="待付款">待付款</option>
                <option value="待收货" selected>待收货</option>
                <option value="已关闭">已关闭</option>
            </select>
            <label class="search-lable" for="date_start">开始时间:</label>
            <input id="date_start" type="text" class="easyui-datebox" data-options="prompt:'请输开始时间'">
            <label class="search-lable" for="date_end">结束时间:</label>
            <input id="date_end" type="text" class="easyui-datebox" data-options="prompt:'请输结束时间'">
            <label class="search-lable" for="p_name">用户名:</label>
            <input id="p_name" class="easyui-textbox form-control search-text" type="text" name="Name" data-options="prompt:'请输入用户名'" />
            <label class="search-lable" for="p_order">订单号:</label>
            <input id="p_order" class="easyui-textbox form-control search-text" type="text" name="Order" data-options="prompt:'请输入订单号'" />
            <label class="search-lable"><input type="checkbox"  id="isSend" />显示配送中</label>
            <a href="#" class="easyui-linkbutton search-lable" onclick="javascript: searchOrderList();" data-options="iconCls:'icon-search'" style="width: 80px">查询</a>
        </div>
    </div>
    <div region="center" id="d_order" border="false">
        <table id="gd_order"></table>
    </div>
</div>