
<script>
    var vm = new Vue({
        el: '#fmType',
        data: {
            id: '@ViewBag.Id',
            form: {}
        },
        methods: {
            init: function () {
                var that = this;
                var url = "/producttype/Get?id=" + (that.id ? that.id : "");
                $.get(url, function (json) {
                    if (json.Success) {
                        that.form = json.Data;
                    }
                });
            },
            save: function () {
                var that = this;
                that.form.IsActive = that.form.IsActive ? 1 : 0;
                $.ajax({
                    method: "post",
                    url: "/producttype/editjson/" ,
                    data: that.form,
                    success: function (json) {
                        if (json.Success) {
                            $.messager.alert('提示', "保存成功！", 'info');
                        } else {
                            $.messager.alert('提示', json.Msg, 'error');
                        }
                    }
                });
            }
        },
        created: function () {
            var that = this;
            that.init();
        }
    })
</script>
<div id="fmType" style="margin-top: 50px">
    <form class="form-horizontal col-sm-10 ">
        <div class="form-group">
            <label class="col-sm-2 control-label">类别名称</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.Name" class="form-control" placeholder="请输入类别名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">类别编码</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.Code" class="form-control" placeholder="请输入类别编码">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否启用</label>
            <div class="col-sm-10">
                <input type="checkbox" v-model="form.IsActive" class="form-control" >
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="button" v-on:click="save" class="btn btn-default">保存</button>
            </div>
        </div>
    </form>
</div>