
<script>
    var vm = new Vue({
        el: '#fmInstore',
        data: {
            form: {
                Amount: 0,
                TypeName: '正常入库',
                UnitID: '500g',
                ProductID: '',
                ProductName: ''
            },
            options: [],
            loading:false
        },
        methods: {
            init: function () {
                var that = this;
            },
            save: function () {
                var that = this;
                $.ajax({
                    method: "post",
                    url: "/instore/save/",
                    data: that.form,
                    success: function (json) {
                        if (json.Success) {
                            $.messager.alert('提示', "保存成功！", 'info');
                        } else {
                            $.messager.alert('提示', json.Msg, 'error');
                        }
                    }
                });
            },
            remoteMethod(query) {
                var ths = this;
                if (query !== '') {
                    this.loading = true;
                    $.post("/product/list",
                        { Name: query, rows: 10, page: 1 },
                        function (json) {
                            ths.options = json.rows;
                        });
                } else {
                    this.options = [];
                }
            },
            selectPro: function (e) {
                debugger
                var ths=this;
                this.form.ProductName = this.options.filter(function (n) {if(n.ID==ths.form.ProductID) return n })[0].Name;
            }
        },
        mounted: function () {
            var that = this;
            that.init();
        }
    })
</script>
<style>
</style>
<div id="fmInstore" style="margin-top: 50px">
    <form class="form-horizontal col-sm-10 ">
        <div class="form-group">
            <label class="col-sm-2 control-label">商品名称</label>
            <div class="col-sm-10">
                <el-select  style="width:280px" v-on:change="selectPro()"  remote  :remote-method="remoteMethod" v-model="form.ProductID" filterable placeholder="请选择商品">
                    <el-option v-for="item in options"
                               :key="item.ID"
                               :label="item.Name"
                               :value="item.ID">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">入库单位</label>
            <div class="col-sm-10">
                <select class="form-control" v-model="form.UnitID">
                    <option selected value="500g">500g</option>
                    <option value="个">个</option>
                    <option value="箱">箱</option>
                    <option value="张">张</option>
                    <option value="件">件</option>
                    <option value="斤">斤</option>
                    <option value="盒">盒</option>
                    <option value="瓶">瓶</option>
                    <option value="支">支</option>
                    <option value="袋">袋</option>
                    <option value="捆">捆</option>
                    <option value="罐">罐</option>
                    <option value="条">条</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">入库数量</label>
            <div class="col-sm-10">
                <input type="number" v-model="form.Amount" class="form-control" placeholder="入库数量">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">入库类型</label>
            <div class="col-sm-10">
                <select class="form-control" v-model="form.TypeName">
                    <option selected value="正常入库">正常入库</option>
                    <option value="虚拟入库">虚拟入库</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10">
                <el-input type="textarea" style="width:280px" rows="3"  placeholder="请输入备注" v-model="form.Remark" maxlength="200" show-word-limit>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="button" v-on:click="save" class="btn btn-default">保存</button>
            </div>
        </div>
    </form>
</div>