<script>
    $(function () {
        QueryInStore({});
    });
    function QueryInStore(parm) {
        $('#gd_instore').datagrid({
            title: '',
            iconCls: 'icon-save',
            height: 500,
            nowrap: true,
            autoRowHeight: false,
            striped: false,
            url: '/InStore/list',
            border: true,
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            queryParams: parm,    //参数为了多条件查询预留
            columns: [[
                { field: 'ProductName', title: '商品名称', width: 200 },
                { field: 'UnitName', title: '单位名称', width: 200 },
                { field: 'Amount', title: '入库数量', width: 120 },
                { field: 'StaffName', title: '操作人', width: 120 },
                { field: 'TypeName', title: '入库类型', width: 120 },
                {
                    field: 'CreateDate', title: '入库时间', width: 200, formatter: function (str) {
                        var d = eval('new ' + str.substr(1, str.length - 2)); //new Date()
                        return d.format("yyyy-MM-dd hh:mm:ss");
                    }
                },
                { field: 'Remark', title: '备注', width: 120 }
            ]],
            toolbar: [{
                text: '新建入库',
                iconCls: 'icon-add',
                handler: function () {
                    addTab("新建入库单", "/instore/detail", "icon-basket-add", false);
                }
            }]
        });
    }
    
    function searchStoreList() {
        var storeCode = $("#storeName").textbox("getValue");
        QueryInStore({ Name: storeCode });
    }
</script>

<div class="easyui-layout" fit="true">
    <div region="north" border="false" style="height:50px">
        <div class="search-list">
            <label class="search-lable" from="storeName">商品名称:</label>
            <input class="easyui-textbox form-control search-text" data-options="prompt:'请输入名称'" id="storeName" name="storeName"/>
            <a href="#" class="easyui-linkbutton search-lable" onclick="javascript: searchStoreList();" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        </div>
    </div>
    <div id="d_instore" region="center" border="false">
        <table id="gd_instore"></table>
    </div>
</div>