
<script>
    var vm = new Vue({
        el: '#fmUser',
        data: {
            id: '@ViewBag.Id',
            form: {},
            interval: null
        },
        methods: {
            format(str) {
                debugger
                if (!str)
                    return "";
                var d = eval('new ' + str.substr(1, str.length - 2)); //new Date()
                return d.format("yyyy-MM-dd");
            },
            init: function () {
                var that = this;
                var url = "/userinfo/Get?id=" + (that.id ? that.id : "");
                $.get(url, function (json) {
                    if (json.Success) {
                        json.Data.IsActive = json.Data.IsActive == 1 ? true : false;
                        json.Data.IsMember = json.Data.IsMember == 1 ? true : false;
                        json.Data.MemberDate =  that.format(json.Data.MemberDate);
                        that.form = json.Data;
                    }
                });
            },
            save: function () {
                var that = this;
                var data = $.extend({}, that.form, {
                    IsMember: that.form.IsMember ? 1 : 0,
                    IsActive: that.form.IsActive ? 1 : 0,
                    ImgUrl: that.form.ImgUrl ? that.form.ImgUrl : ""
                });

                $.ajax({
                    method: "post",
                    url: "/userinfo/save/",
                    data: data,
                    success: function (json) {
                        if (json.Success) {
                            $.messager.alert('提示', "保存成功！", 'info');
                        } else {
                            $.messager.alert('提示', json.Msg, 'error');
                        }
                    }
                });
            },
            handleAvatarSuccess(res, file) {
                //URL.createObjectURL(file.raw);
                if (res.Success)
                    this.form.ImgUrl = res.Data;
                else {
                    $.messager.alert('提示', res.Msg, 'error');
                }
            },
            beforeAvatarUpload(file) {
                var isJPG = file.type.indexOf("image") >-1;
                var isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        },
        created: function () {
            var that = this;
            that.init();
        }
    })
</script>
<style>

</style>
<div id="fmUser" style="margin-top: 50px">
    <form class="form-horizontal col-sm-10 ">
        <div class="form-group">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.UserName" class="form-control" placeholder="请输入名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> 账号</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.UserCode" class="form-control" placeholder="请输入账号">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">头像</label>
            <div class="col-sm-10">
                <el-upload class="avatar-uploader"
                           action="/upload/img"
                           :show-file-list="false"
                           :on-success="handleAvatarSuccess"
                           :before-upload="beforeAvatarUpload">
                    <img v-if="form.ImgUrl" :src="form.ImgUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="password" v-model="form.PassWord" class="form-control" placeholder="请输入密码">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">积分</label>
            <div class="col-sm-10">
                <input type="text" v-model="form.PointAmount" readonly="readonly" class="form-control" placeholder="用户积分">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">会员日期</label>
            <div class="col-sm-10">
                <input type="date" v-model="form.MemberDate"  class="form-control" placeholder="会员日期">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否会员</label>
            <div class="col-sm-10">
                <el-switch v-model="form.IsMember"></el-switch>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否启用</label>
            <div class="col-sm-10">
                <el-switch v-model="form.IsActive"></el-switch>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="button" v-on:click="save" class="btn btn-default">保存</button>
            </div>
        </div>
    </form>
</div>