
<script>
    $(function () {
        priceQuery({});
    });
    var page_price = function () {
        var ths = this;
        ths.editIndex = undefined;
        ths.endEditing = function () {
            if (ths.editIndex == undefined) {
                return true
            }
            if ($('#gd_price').datagrid('validateRow', ths.editIndex)) {
                $('#gd_price').datagrid('endEdit', ths.editIndex);
                ths.editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        ths.onClickRow = function (index) {
            if (ths.editIndex != index) {
                if (ths.endEditing()) {
                    $('#gd_price').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                    ths.editIndex = index;
                } else {
                    $('#gd_price').datagrid('selectRow', ths.editIndex);
                }
            }
        }
    }
    var obj_price = new page_price();

    function priceQuery(parm) {
        $('#gd_price').datagrid({
            iconCls: 'icon-save',
            height: 500,
            nowrap: true,
            autoRowHeight: false,
            striped: false,
            url: '/price/list?id=@ViewBag.Id',
            border: true,
            rownumbers: true,
            singleSelect: true,
            onClickRow: function (index) {
                obj_price.onClickRow(index);
            },
            queryParams: parm, //参数为了多条件查询预留
            columns: [
                [
                    { field: 'ck', checkbox: true },
                    {
                        field: 'ID', title: '操作', width: 60, align: 'center', formatter: function (value, row, index) {
                            var btn = " <a href='#'  class='easyui-splitbutton' onclick=del('" + value + "')>删除</a>";
                            return btn;
                        }
                    },
                    { field: 'Name', title: '商品名称', width: 100 },
                    { field: 'TypeName', title: '类型名称', width: 100 },
                    { field: 'UnitName', title: '单位名称', width: 100 },
                    { field: 'Price', title: '单价', width: 80, editor: { type: 'numberbox', options: { precision: 1 } } },
                    { field: 'MemberPrice', title: '会员价', width: 80, editor: { type: 'numberbox', options: { precision: 1 } } },
                    { field: 'LimitNum', title: '会员限购', width: 100 },
                    { field: 'StaffName', title: '操作人', width: 100 },
                    {
                        field: 'CreateDate',
                        title: '创建时间',
                        width: 180,
                        formatter: function (str) {
                            if (!str)
                                return '';
                            if (str.length < 3)
                                return '';
                            var d = eval('new ' + str.substr(1, str.length - 2)); //new Date()
                            return d.format("yyyy-MM-dd hh:mm:ss");
                        }
                    }
                ]
            ],
            toolbar: [
                {
                    text: '保存',
                    iconCls: 'icon-add',
                    handler: function () {
                        priceSave();
                    }
                }, '-', {
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        var row = $('#gd_product').datagrid("getChecked");
                        if (row.length > 0) {
                            del(row[0].ID);
                        } else {
                            $.messager.alert("警告", "请选择一行", "warning");
                        }
                    }
                }
            ]
        });
    }

    function priceSave() {
        var rows = $('#gd_price').datagrid("getRows");
        var list = [];
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].Price) {
                if (rows[i].Price > 0) {
                    list.push(rows[i]);
                }
            }
        }
        $.ajax({
            method: "post",
            url: "/price/save/",
            contentType: "application/json;charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(list),
            success: function (json) {
                if (json.Success) {
                    $.messager.alert('提示', "保存成功！", 'info');
                } else {
                    $.messager.alert('提示', json.Msg, 'error');
                }
            }
        });
    }

</script>
<style>
    #d_price table td[field='Price'] span {
        color: #3EAFE0;
    }

    #d_price table td[field='MemberPrice'] span {
        color: #3EAFE0;
    }
</style>
<div class="easyui-layout" fit="true">
    <div region="north" border="false" style="height:50px">
        <div class="search-list">
            <label class="search-lable" for="TypeName">类别名称:</label>
            <input id="txt_TypeName" class="easyui-textbox form-control search-text" type="text" name="TypeName" data-options="prompt:'请输入类别名称'" />
            <label class="search-lable" for="Name">商品名称:</label>
            <input id="p_name" class="easyui-textbox form-control search-text" type="text" name="Name" data-options="prompt:'请输入商品名称'" />
            <a href="#" class="easyui-linkbutton search-lable" onclick="javascript: searchList();" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        </div>
    </div>
    <div region="center" id="d_price" border="false">
        <table id="gd_price"></table>
    </div>
</div>
