
<script>
    $(function () {
        priceQuery({ Name: "@ViewBag.Name" });
    });

    function priceQuery(parm) {
        $('#gd_price').datagrid({
            iconCls: 'icon-save',
            height: 500,
            nowrap: true,
            autoRowHeight: false,
            striped: false,
            url: '/price/list?id=',
            border: true,
            rownumbers: true,
            pagination: true,
            singleSelect: true,
            //onClickRow: function (index) {
            //    obj_price.onClickRow(index);
            //},
            queryParams: parm, //参数为了多条件查询预留
            columns: [
                [
                    { field: 'ck', checkbox: true },
                    {
                        field: 'ID', title: '操作', width: 80, align: 'center', formatter: function (value, row, index) {
                            var btn = " <a href='#' onclick=editPrice('" + value + "','" + row.ProductID + "') class='easyui-splitbutton'>编辑</a>";
                            btn += " <a href='#'  class='easyui-splitbutton' onclick=delPrice('" + JSON.stringify(row) + "')>删除</a>";
                            return btn;
                        }
                    },
                    { field: 'Name', title: '商品名称', width: 100 },
                    { field: 'TypeName', title: '类型名称', width: 100 },
                    { field: 'UnitName', title: '单位名称', width: 100 },
                    { field: 'Price', title: '单价', width: 80, editor: { type: 'numberbox', options: { precision: 1 } } },
                    { field: 'MemberPrice', title: '会员价', width: 80, editor: { type: 'numberbox', options: { precision: 1 } } },
                    { field: 'LimitNum', title: '会员限购', width: 80, editor: { type: 'numberbox', options: { precision: 1 } } },
                    { field: 'StaffName', title: '操作人', width: 100 },
                    {
                        field: 'CreateDate',
                        title: '创建时间',
                        width: 180,
                        formatter: function (str) {
                            if (!str)
                                return '';
                            if (str.length < 3)
                                return '';
                            var d = eval('new ' + str.substr(1, str.length - 2)); //new Date()
                            return d.format("yyyy-MM-dd hh:mm:ss");
                        }
                    }
                ]
            ]
        });
    }
    function priceSearch() {
        var value = $("#txt_price_name").textbox("getValue");
        var type=$("#txt_price_TypeName").textbox("getValue");
        priceQuery({ Name: value ,Type:type});
    }
    
    function delPrice(row) {
         $.messager.confirm("删除", "确定删除吗？", function (r) {
             if (r) {
                 $.post("/price/del?id=", JSON.parse(row), function (data) {
                    if (data.Success) {
                        $.messager.alert("提示", data.Msg, "info");
                        $('#gd_price').datagrid("reload");
                    } else {
                        $.messager.alert("警告", data.Msg, "error");
                    }
                });
            }
        });
    }

    function editPrice(id,proId) {
        if (id == "null" || !id) {
            id = "";
        }
        addTab("价格明细", "/price/detail?id=" + id+"&proid="+proId, "icon-application-key", false);
    }
</script>
<style>
    #d_price table td[field='Price'] span {
        color: #3EAFE0;
    }

    #d_price table td[field='MemberPrice'] span {
        color: #3EAFE0;
    }

    #d_price table td[field='LimitNum'] span {
        color: red;
    }
</style>
<div class="easyui-layout" fit="true">
    <div region="north" border="false" style="height:50px">
        <div class="search-list">
            <label class="search-lable" for="TypeName">类别名称:</label>
            <input id="txt_price_TypeName" class="easyui-textbox form-control search-text" type="text" name="TypeName" data-options="prompt:'请输入类别名称'" />
            <label class="search-lable" for="Name">商品名称:</label>
            <input id="txt_price_name" class="easyui-textbox form-control search-text" value="@ViewBag.Name" type="text" name="Name" data-options="prompt:'请输入商品名称'" />
            <a href="#" class="easyui-linkbutton search-lable" onclick="javascript: priceSearch();" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        </div>
    </div>
    <div region="center" id="d_price" border="false">
        <table id="gd_price"></table>
    </div>
</div>
